@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Francois+One|Montserrat|Open+Sans|Oswald&display=swap");

html {
  font-family: "sans-serif", cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Futura", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-family: "Futura", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.d-flex {
  display: flex;
}

/* NAVIGATION BAR  */

.navigation-bar span {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.navigation-bar span:hover {
  text-decoration: underline;
}

.navigation-bar-left {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

/* ABOUT  */
.bt-pic {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 10%;
  border-radius: 50%;
}
/* LANDING  */

.landing-picture {
  width: 100%;
  object-fit: cover;
}



@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
